﻿@model MvcBasics.Models.Participant

@{
    ViewBag.Title = "Potwierdzenie";
}

<h2>Potwierdzenie</h2>

<p>Dziękujemy za zgłoszenie, @Model.Name</p>

@if (Model.Confirmed == true) {
    <b>Dziękujemy za potwierdzenie</b>
} else {
    @: Czekamy na ostateczne potwierdzenie
}