﻿@model MvcBasics.Models.Participant

@{
    ViewBag.Title = "Zapisz się na szkolenie";
}

@{ 
    Layout = null;
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Imię: @Html.TextBoxFor(x => x.Name)</p>
    <p>Email: @Html.TextBoxFor(x => x.Email)</p>
    <p>Telefon: @Html.TextBoxFor(x => x.Phone)</p>
    <p>
        Czy potwierdzasz?
        @Html.DropDownListFor(x => x.Confirmed, new []
        {
            new SelectListItem() {Text = "Potwierdzam", Value = bool.TrueString},
            new SelectListItem() {Text = "Brak pewności", Value = bool.FalseString}
        }, "Wybierz jedną z opcji")
    </p>

    <input type="submit" value="Wyślij"/>
}

