﻿@model MvcBasics.Models.Participant[]

@{
    ViewBag.Title = "Lista uczestników";
}

<h2>@ViewBag.Title</h2>

@if (Model.Length > 0)
{
    <table>
        <tbody>
            @foreach (var participant in Model)
            {
                <tr>
                    <td>@participant.Name</td>
                    <td>@participant.Email</td>
                </tr>
            }
        </tbody>
    </table>
} else {
    @: Nie ma jeszcze uczestników
}