﻿@model HandleErrorInfo

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Podałeś wartość @(((ArgumentOutOfRangeException)Model.Exception).ActualValue), która była spoza zakresu</p>
    </div>
</body>
</html>
