﻿@model ViewsAndHelperMethods.Models.Person

@{ 
    Html.EnableClientValidation(false);
}

<h2>CreatePerson: @Html.LabelForModel()</h2>

@using (Html.BeginForm("CreatePerson", "Home", FormMethod.Post)) {

    @Html.EditorForModel()

    @Html.EditorFor(x => x.Address)

    @*<div class="dataElement">
        <label>Id</label>
        @Html.EditorFor(x => x.Id)
    </div>
    <div class="dataElement">
        <label>Name</label>
        @Html.EditorFor(x => x.Name)
    </div>
    <div class="dataElement">
        <label>LastName</label>
        @Html.EditorFor(x => x.LastName)
    </div>
    <div class="dataElement">
        <label>Data urodzenia</label>
        @Html.EditorFor(x => x.DoB)
    </div>
    <div class="dataElement">
        <label>Rola</label>
        @Html.EditorFor(x => x.Role)
    </div>*@

    <input type="submit" value="Submit" />
}

