﻿@model ViewsAndHelperMethods.Models.Person

@{
    ViewBag.Title = "DisplayPerson";
}

<h2>DisplayPerson</h2>

<div class="dataElement">
    @Html.LabelFor(x => x.Id)
    @Html.DisplayFor(x => x.Id)
</div>
<div class="dataElement">
    @Html.LabelFor(x => x.Name)
    @Html.DisplayFor(x => x.Name)
</div>
<div class="dataElement">
    @Html.LabelFor(x => x.LastName)
    @Html.DisplayFor(x => x.LastName)
</div>
<div class="dataElement">
    @Html.LabelFor(x => x.DoB)
    @Html.DisplayFor(x => x.DoB)
</div>
<div class="dataElement">
    @Html.LabelFor(x => x.Role)
    @Html.DisplayFor(x => x.Role)
</div>