﻿@using ViewsAndHelperMethods.Helpers;

@helper ProcessAnArrayOfStrings(string[] items){
    <ul>        
        @foreach (string item in items)
        {
        <li>@item </li>
        }

    </ul>
}

<h2>Index</h2>

<div>
    Studenci:
    @Html.ListArrayItems((string[])ViewBag.Students)

    @*@Html.Partial("_FirstPartial", (string[])ViewBag.Students)*@

    @*@foreach (var student in (string[])ViewBag.Students)
    {
        <b>@student </b>
    }*@
</div>
<div>
    Miasta:
    @Html.ListArrayItems((string[])ViewBag.Cities)
    @*@ProcessAnArrayOfStrings(ViewBag.Cities)*@

    @*@Html.Partial("_FirstPartial", (string[])ViewBag.Cities)*@

    @*@foreach (var city in (string[])ViewBag.Cities)
    {
        <b>@city  </b>
    }*@
</div>

@*@Html.Partial("_FirstPartial")*@

@Html.Action("Time")