﻿<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <p>Użytkownik: @Html.TextBox("name")</p>
    <p>Hasło: @Html.Password("password")</p>

    <input type="submit" value="Zaloguj" />
}

