﻿<div>
    <p>Kontroler: @ViewBag.Controller</p>
    <p>Akcja: @ViewBag.Action</p>
    <p>Id: @ViewBag.Id</p>
    <p>Catchall: @ViewBag.Catchall</p>
</div>
<div>
    @Html.ActionLink("Link do listy", "List")
</div>
<div>
    @Html.ActionLink("Link do listy w Client", "List", "Client")
</div>
<div>
    @Html.ActionLink("Link do metody WithId", "WithId", "Home", new { id = "Mateusz"}, new { id = "#linkId", @class = "btn btn-primary" })
</div>
<div>
    @Html.ActionLink("Link do listy w Client", "List", "Client", "http", "infotraining.pl", null, null, null)
</div>
<div>
    @Url.Action("Index", "Home")
</div>
<div>
    @Html.RouteLink("Ścieżka", "MyRoute")
</div>

<div>
    @Html.ActionLink("Link do metody AddClient w Admin", "Index", "AddClient", new { area = "Admin" }, null)
</div>

