﻿@model Services.ViewModels.MoviesListViewModel
@using System.Globalization;
@using WebUI.Helpers;

@{
    ViewBag.Title = "Index";
}

<h2>Lista filmów</h2>

<hr />

@if (Request.IsAuthenticated)
{
    <div>
        @Html.ActionLink("Dodaj film", "Create", "MoviesAdmin")
    </div>
}

<div class="row">
    <div class="col-md-8">
        @if (Model.Movies.Any())
        {
            foreach (var movie in Model.Movies)
            {
                <div class="row">
                    <div class="col-md-2">
                        <img src="/Images/Covers/@movie.CoverThumbnail" alt="@movie.Title" class="movie-thumbnail" />
                    </div>

                    <div class="col-md-10">
                        <h3>@Html.ActionLink(movie.Title, "Details", new { movieId = movie.MovieId })</h3>

                        <p>@movie.ShortDescription</p>

                        <p>Cena: @String.Format(new CultureInfo("pl-PL"), "{0:c}", movie.Price)</p>

                        <p>@Ajax.ActionLink("Dodaj do koszyka", "AddToCart", "Cart", 
                          new { movieId = movie.MovieId }, 
                          new AjaxOptions {  HttpMethod = "POST", UpdateTargetId = "cart-summary", Confirm = "Potwierdź dodanie filmu" })</p>

                        @if (Request.IsAuthenticated)
                        {
                            <p>@Html.ActionLink("Edytuj film", "Edit", "MoviesAdmin", new { movieId = movie.MovieId }, null)</p>
                        }
                    </div>

                </div>
            }

            <div>
                @Html.PageLinks(Model.PagingHelper, x => Url.Action("Index", new { currentPage = x, categoryId = Model.PagingHelper.CategoryId }))
            </div>
        }
    </div>

    <div class="col-md-4">
        @Html.Action("CategoryList", "Categories")
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ajax")
}