﻿@model IEnumerable<DomainModel.Category>

<ul>
    <li>@Html.ActionLink("Wszystkie", "Index", "Home")</li>
    @foreach (var cat in Model)
    {
        <li>
            @Html.ActionLink(string.Format("{0} ({1})", cat.Name, cat.Movies.Count()), "Index", "Home", new { categoryId = cat.CategoryId }, null)
        </li>
    }
</ul>

